.login-container {
  position: relative;
  color: white;
  margin: auto;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 45rem;
  width: 40rem;
  height: 20rem;
  border-radius: 2%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  position: absolute;
  top: 25%;
  
}

.login-form > input,
button {
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-bottom: white solid 0.1px;
}

button:hover {
  background-color: cornflowerblue;
  scale: 1.1;
}

.input::placeholder {
  color: white;
  /* height: 20rem; */
}
